hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0px 0.25em;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0px 0.25em;
  content: "★";
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: black;
}

.star-light:after {
  color: black;
  background-color:rgb(252, 241, 231);
}

hr.star-dark {
  border-color: black;
}

hr.star-dark:after {
  color:black;
  background-color: rgb(251, 203, 203);
}

.container-rosa {
  padding-top: 40px;
  padding-bottom: 6rem;
  background-color: rgb(251, 203, 203);
}
.container-black {
  padding-top: 100px;
  padding-bottom: 6rem;
  background-color: rgb(252, 241, 231);
  align-content: center;
}
.img-class {
  max-width: 100%;
}
.navbar{
  background-color: rgb(251, 203, 203);
}
a{
  color:black;
}
.text-color{
  color: black;
}
.container-back{
  background-color: rgb(252, 241, 231);
}

#social{
  padding-top: 50px;
  padding-bottom: 20px;
  max-width: 100%;
  border-width: medium;
}

#social img{
  width: 90px;
  padding-right: 30px;
}

.center{
  display: flex; 
  justify-content: center; /* Centraliza horizontalmente */
  margin: 0 auto; /* Para garantir que o contêiner em si esteja centralizado */
  width: 100%; 
  
}
.center-frame{
  margin: 0 auto; /* Para centralizar o contêiner */
  width: 400px; /* Largura fixa ou altere conforme necessário */
}